header .container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .row {
        align-items: center;
    }

    div {
        img {
            width: 80%;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 300;
    }

    span {
        color: $blue;
        font-weight: 500;
    }

    button {
        @include btn();
    }

    p {
        margin-top: 18px;
        margin-bottom: 36px;
    }

}

.head {
    background-color: $white;
    border-radius: 25px;
}


#whyChooseUs {
    .card {
        border: none;

        &:hover {
            @include shadow1();
            border-radius: 25px;
        }
    }

    .whyChooseUsCards {
        justify-content: center;
        column-gap: 30px;

        img {
            width: fit-content;
            margin: auto;
        }
    }
}


#chatSupport {
    position: fixed;
    bottom: 2%;
    right: 1%;
    border-radius: 20px;
    background-color: $lightBlue;
    width: 70px;
    height: 70px;

    &:hover {
        cursor: pointer;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 100%;
        flex-wrap: nowrap;
    }

    img {
        width: 38px;
        margin-bottom: 3%;
    }
}

.card-header {
    border: none;
}

.accordion .card {
    margin: 15px auto;
}

.accordion>.card>.card-header {
    margin-bottom: 0px;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

#accordionExample .card {
    border-radius: 25px;
    border: 1px solid $lightBlue;
}

.blue {
    background-color: $blue;
    color: white;

    button {
        color: white;

        &:hover {
            color: white;
        }
    }
}

#freeTrailSession {
    form .row {
        justify-content: center;
        column-gap: 30px;

        input {
            @include btn();
            background-color: white;
            border: 1px solid $blue;
            color: $text;

            &:focus-visible {
                border: none;
            }
        }

        button {
            @include btn();

        }
    }
}

.testimonials {
    .row {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        div {
            width: 50%;
        }
    }
}

#faq {
    h2 {
        font-size: 1.3rem;
    }

    .faq-card {
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        border-radius: 25px;
        padding: 3%;
    }

    .question {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .answer {
        display: none;
        margin-top: 10px;
    }

    .icon {
        font-size: 20px;
        color: white;
    }

    .toggle {
        background-color: $blue;
        padding: 5px 10px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.testimonial-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 100%;
    /* Adjust this to your preferred width */


    .slide {
        display: flex;
        flex-direction: row;
        width: 100%;
        scroll-snap-align: start;
    }

    .image {
        flex: 1;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .testimonial {
        flex: 2;
        padding: 20px;
        background-color: #f4f4f4;
    }

    .slider-controller {
        text-align: center;
        margin: 10px 0;
    }

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #999;
        border-radius: 50%;
        cursor: pointer;
    }

    .dot.active {
        background-color: #333;
    }
}