header .container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
        img {
            width: 80%;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 300;
    }

    span {
        color: $blue;
        font-weight: 500;
    }

    button {
        @include btn();
    }

    p {
        margin-top: 18px;
        margin-bottom: 36px;
    }

}

.head {
    background-color: $white;
    border-radius: 25px;
}


#whyChooseUs {
    .card {
        border: none;
    }

    .whyChooseUsCards {
        justify-content: center;
        column-gap: 30px;

        img {
            width: fit-content;
            margin: auto;
        }
    }
}


#chatSupport {
    position: fixed;
    bottom: 2%;
    right: 1%;
    border-radius: 20px;
    background-color: $blue;
    width: 70px;
    height: 70px;

    &:hover {
        cursor: pointer;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 100%;
        flex-wrap: nowrap;
    }

    img {
        width: 45px;
        margin-bottom: 3%;
    }
}

.card-header {
    border: none;
}

.accordion .card {
    margin: 15px auto;
}

.accordion>.card>.card-header {
    margin-bottom: 0px;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

#accordionExample .card {
    border-radius: 25px;
    border: 1px solid $lightBlue;
}

.blue {
    background-color: $blue;
    color: white;

    button {
        color: white;

        &:hover {
            color: white;
        }
    }
}

#freeTrailSession {
    form .row {
        justify-content: center;
        column-gap: 30px;
        input{
            @include btn();
            background-color: white;
            border: 1px solid $blue;
            color: $text;
            &:focus-visible{
                border: none;
            }
        }
        button{
            @include btn();
         
        }
    }
}

.testimonials{
    .row{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div{
            width: 50%;
        }
    }
}