// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    h4 {
        font-size: 2.5rem;
    }

    header {
        .container {
            text-align: center !important;

            h2 {
                font-size: 2rem;
            }

            .text-right {
                text-align: center !important;
                margin-top: 10%;

                img {
                    width: 100%;
                }
            }
        }
    }

    h4 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    .whyChooseUsCards {
        padding-top: 0rem !important;
        margin-top: 3rem !important;
    }

    .card {
        width: 100% !important;
        margin: 8% auto;

        p {
            text-align: justify;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    h4 {
        font-size: 2.5rem;
    }

    header {
        margin-top: 5%;

        .container {
            text-align: center !important;

            h2 {
                font-size: 3rem;
            }

            .text-right {
                text-align: center !important;
                margin-top: 10%;
            }
        }
    }

    h4 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    .whyChooseUsCards {
        padding-top: 0rem !important;
        margin-top: 3rem !important;
    }

    .card {
        width: 100% !important;
        margin: 8% auto;

        p {
            text-align: center;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    h4 {
        font-size: 2.5rem;
    }

    header {
        .row {
            flex-direction: column;
        }

        .container {
            text-align: center !important;

            h2 {
                font-size: 3rem;
            }

            .text-right {
                text-align: center !important;
                margin-top: 10%;

                img {
                    width: 60%;
                }
            }
        }
    }

    h4 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    .whyChooseUsCards {
        padding-top: 0rem !important;
        margin-top: 3rem !important;
    }

    .card {
        width: 100% !important;
        margin: 8% auto;

        p {
            text-align: center;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}