footer {
    address {
        color: $text;
    }

    .logo img {
        width: 100px;
    }

    .socialLinks {
        justify-content: space-around;

        a {
            @include btn2();
            width: 45px;
            height: 45px;
        }

    }

    ul {
        margin: auto;

        li {
            margin: 15px auto;
        }
    }
}