footer {
    address {
        color: $text;
    }

    .socialLinks {
        justify-content: space-around;

     
    }

    ul {
        margin: auto;

        li {
            margin: 15px auto;
        }
    }
}

