nav {
    height: 80px;

    a {
        color: $text;
        margin: 1rem;
    }

    button {
        @include btn();
        background-color: #fff;
        color: $blue;
        border: 1px solid $lightBlue;
        &:hover{
            border: none;
            background-color: $blue;
            color: $white;
        }
    }
}