nav {
    height: 80px;
    z-index: 1000;

    a {
        color: $text;
        margin: 1rem;
    }

    .btn-outline-success {
        @include btn();
        background-color: #fff;
        color: $blue;
        border: 1px solid $lightBlue;

        &:hover {
            border: none;
            background-color: $blue;
            color: $white;
        }
    }
    form{
        a{
          @include btn2();
        }
    }
}


.navbar-toggler {
    border-color: $blue !important;
}

.show {
    background-color: $white;
    @include shadow1();
    border-radius: 25px;
    padding: 30px 15px;

    li a {
        border-bottom: 1px solid $lightBlue;
    }

    button {
        margin-left: 15px;
    }

    .btn-outline-success {
        color: $blue;
        border-color: $blue;
        @include btn();

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}


#coursesDropdown {
    height: 80vh;
    width: 90vw;
    margin: auto;
    background-color: #fff;
    position: absolute;
    z-index: 5000;
    left: 4%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.075) 0px 7px 13px -3px, rgba(0, 0, 0, 0.089) 0px -3px 0px inset;
    display: none;

    .row {
        height: 100%;
    }

    i {
        color: $blue;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        border-left: 2px dashed $lightBlue;
        padding-left: 5%;

        li h2 {
            font-weight: 400;
        }
    }

    .closed {
        position: absolute;
        z-index: 1000;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        margin: 1%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 25px;
        }

    }

    .left {
        display: flex;
        flex-direction: column;
        padding: 5%;
        justify-content: space-around;
        align-items: center;

        img {
            width: 300px;
        }

        h2 {
            font-weight: 300;
            text-align: center;
        }
    }
}

.head {
    position: relative;
}