nav {
    height: 80px;

    a {
        color: $text;
        margin: 1rem;

        &:hover {
            text-decoration: underline !important;
        }
    }

    .btn-outline-success {
        @include btn();
        background-color: #fff;
        color: $blue;
        border: 1px solid $lightBlue;

        &:hover {
            border: none;
            background-color: $blue;
            color: $white;
        }
    }
}


.navbar-toggler {
    border-color: $blue !important;
}
.show{
    background-color: $white;
    @include shadow1();
    border-radius: 25px;
    padding: 30px 15px;
    li a{
        border-bottom: 1px solid $lightBlue;
    }
    button{
        margin-left: 15px;
    }
    .btn-outline-success{
        color: $blue;
        border-color: $blue;
        @include btn();
        &:hover{
            background-color: $blue;
            color: $white;
        }
    }
}