@mixin btn() {
    background-color: $blue;
    padding: 14px 32px;
    border-radius: 73px;
    border: none;
    color: white;

    &:hover {
        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
        @include transition1s();
    }
}